body{
    margin: 0;
    padding: 0;
     font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    background-color: rgba(0, 0, 255, 0.145);
}
h1{
    text-align: center;
    padding: 0.8rem;
}

.main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 30%;
   margin-top: 10%;
   background-color: rgb(150, 150, 188);
   height: 400px;
   width: 400px;
   border: 2px solid black;
   border-radius: 10px;
}

h2{
    text-align: center;
}

.input{
    margin-left: 10%;
}

#in{
 width: 90%;
 height: 1.8rem;
 color: blue;
 border: 2px solid black;
 border-radius: 5px;
 background-color: rgba(255, 255, 255, 0.845);
 padding: 5px;
}

h3{
    text-align: center;
    padding: 5px;
}

button{
    width: 40%;
    margin: 20px;
    margin-left: 30%;
    padding: 5px;
    background-color: rgb(209, 72, 72);
    color: white;
    border: 2px solid black;
    border-radius: 5px;

}